@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-toggle {
  background-color: #fff;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
@media all and (max-width: 754px) {
  .mobile-bg {
    background-color: #fff;
  }
}

.hero-section {
  background: radial-gradient(circle at top right, #f3ecff, #e2e7fe);
  color: #1e293b; /* Darker text color for better readability */
}

h1 span {
  background: linear-gradient(to right, #06beb6, #48b1f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #475569; /* Subtle gray for body text */
}

button {
  background: linear-gradient(to right, #f7971e, #ffd200);
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(to right, #ffd200, #f7971e);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
